 
   .anime-list-page {
    font-family: "Arial", sans-serif; 
    color: #F8FAFC;
    display: flex;
    justify-content: center;
    height: 100vh;
  }  
  
  .anime-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-grow: 1; 
    padding-bottom: 20px;
  }
  
   @media (max-width: 990px) {

    .anime-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
    .anime-list-container{
      height: auto;
    }
  } 
  
  @media (max-width: 580px) {
    .anime-list-page{
      flex-direction: column;
      justify-content: flex-start;
    }

    .anime-list{
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
    }
  }