.anime-filters {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-anime-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30em;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #1e293b, #334155);
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
  }
  
  .form-anime-filters h1 {
    color: var(--green);
    font-family: "Orbitron", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4rem;
  }

  abbr {
    text-decoration: none;
  }

  .icon18{
    font-size: 3rem; 
    vertical-align: middle;
    margin-left: 1rem; 
  }

  .modal-text {
    font-size: 1rem;
    padding: 0 20px;
    font-weight: 200;
  }

  .modal-title{
    padding: 20px;
  }

  .boldText{
    font-weight: 500;
  }

  .modal-button-container{
    padding: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 700px) {
    .form-anime-filters {
      padding: 15px 10px;
      width: 100%;
    }
    .form-anime-filters h1 {
      font-size: 1.2rem; 
    }

    .modal-title{
      font-size: 1.1rem;
    }

    .modal-text {
      font-size: 1rem;
      padding-bottom: 5px;
    }
    .icon18{
      font-size: 1.2rem;
      padding-left: 0;
    }

  }

  @media (max-width: 500px){
    .modal-title{
      font-size: 1rem;
      padding: 5px;
    }
    .modal-text {
      font-size: .8rem;
      padding: 5px;
    }
    .modal-button-container{
      padding: 0px;
      justify-content: center;
    }
      .modal-neon-button {
        padding: 4px 6px;
        font-size: 8px;
        transform: scale(.75);
        transform: center; 
      }
  }